
body {
    background-color: #262626;
    color: white;
}

.table {
    margin: auto;
    margin-top: 3em;
    width: 50%;
    border: 2px solid white;
}

td {
    padding: 0!important;
    background-color: #171717 !important;
    border: 2px solid whitesmoke;
    text-align: center;
    vertical-align: middle;
    font-size: 3.5em;
}

td.selectable:hover {
    background-color: #22222200 !important;
    cursor: pointer;
}

table tbody td.hint {
    background-color: #544127 !important;
}

table.table tbody td.selected {
    background-color:#666666 !important;
}

@media (max-width: 991.98px) {
    .choose-game-mode, .choose-algorithm, .choose-heuristic {
        width: 100%;

    }

    .choose-algorithm {
        padding: 0 !important;
    }

    table {
        width: 75% !important;
    }

    td {
        font-size: 2em;
        padding: 0.25em !important;
    }
}