
body {
    background-color: #262626;
    color: white;
}

.table {
    margin: auto;
    margin-top: 3em;
    width: 50%;
    border: 2px solid white;
}

td {
    padding: 0!important;
    background-color: #171717;
    border: 2px solid whitesmoke;
    text-align: center;
    vertical-align: middle;
    font-size: 3.5em;
}
